@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: var(--text-font-size-value);
  color: var(--primary-text-color);
  line-height: var(--p--lineHeight);
}

:root {
  --body-bg-color: #fff;
  --button-bg-color: #fff;
  --border-color: #e5e7eb;
  --button-border-color: #d1d5db;
  --primary-text-color: #374151;
  --navigationlink-text-color: #000;
  --navigation-link-background-hover-color: #ccfae7;
  --button-text-color: #1f2937;
  --headline-text-color: #000;
  --text-and-icons-color: #4b5563;
  --text-and-icons-hover-color: linear-gradient(
    to right top,
    rgba(0, 232, 135),
    rgba(0, 232, 135),
    rgba(0, 224, 243)
  );
  --headline-background-color: linear-gradient(
    to right top,
    rgba(0, 232, 135, 0.4),
    rgba(0, 232, 135, 0.4),
    rgba(0, 224, 243, 0.4)
  );
  --chip-projectCard-e2e-background-color: #e6def3;
  --chip-projectCard-API-background-color: #ffead1;
  --chip-projectCard-performance-background-color: #c2ebc2;

  --table-of-contents-link-color: #9ca3af;
  --table-of-contents-link-hover-color: #111827;
  --table-of-contents-link-focus-color: #111827;
  --fa-github-navigation-bar-hover-color: #00e887;

  --text-font-size-value: 14px;
  --navigationBar-logo-font-size-value: 18px;
  --navigationLink-font-size-value: 16px;
  --button-font-size-value: 14px;
  --chip-projectCard-font-size-value: 12px;
  --h1-font-size-value: 30px;
  --h2-font-size-value: 24px;
  --h3-font-size-value: 18px;
  --h4-font-size-value: 16px;

  --logo-width-value: 20px;

  --logo-height-value: 20px;

  --navigationBar-lineHeight: 20px;
  --button-lineHeight: 20px;
  --logo-card-lineHeight: 20px;
  --chip-projectCard-lineHeight: 24px;
  --h1-lineHeight: 36px;
  --h2-lineHeight: 32px;
  --h3-lineHeight: 28px;
  --h4-lineHeight: 24px;
  --p--lineHeight: 28px;

  --headline-font-weight: 700;
  --button-font-weight: 700;
  --navigationlink-font-weight: 500;
  --table-of-contents-link-weight: 500;
  --text-and-icons-weight: 500;
  --chip-projectCard-font-weight: 500;
  --normalText-font-weight: 400;

  --navigationBar-padding: 16px;
  --button-top-bottom-padding: 8px;
  --button-left-right-padding: 16px;
  --section-destkop-padding: 80px;
  --section-mobile-padding: 40px;

  --header-margin-bottom: 80px;
  --contact-margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  :root {
    --text-font-size-value: 16px;
    --navigationBar-logo-font-size-value: 20px;
    --button-font-size-value: 18px;
    --h1-font-size-value: 48px;
    --h2-font-size-value: 36px;
    --h3-font-size-value: 24px;
    --h4-font-size-value: 18px;

    --navigationBar-lineHeight: 24px;
    --button-lineHeight: 28px;
    --logo-card-lineHeight: 24px;
    --h1-lineHeight: 48px;
    --h2-lineHeight: 40px;
    --h3-lineHeight: 32px;
    --h4-lineHeight: 28px;
  }
}

@media screen and (min-width: 1536px) {
  :root {
    --text-font-size-value: 18px;
    --h1-font-size-value: 60px;
    --h2-font-size-value: 48px;

    --h1-lineHeight: 60px;
    --h2-lineHeight: 48px;
  }
}

/*      --------------------        ELEMENTS        -----------------------------       */
header {
  margin-bottom: var(--header-margin-bottom);
}

body {
  background-color: var(--body-bg-color);
  padding-bottom: 40px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: var(--h1-font-size-value);
  line-height: var(--h1-lineHeight);
  color: var(--headline-text-color);
  font-weight: var(--headline-font-weight);
}

h2 {
  font-size: var(--h2-font-size-value);
  line-height: var(--h2-lineHeight);
  color: var(--headline-text-color);
  font-weight: var(--headline-font-weight);
}

h3 {
  font-size: var(--h3-font-size-value);
  line-height: var(--h3-lineHeight);
  color: var(--headline-text-color);
  font-weight: var(--headline-font-weight);
}

h4 {
  font-size: var(--h4-font-size-value);
  line-height: var(--h4-lineHeight);
  color: var(--headline-text-color);
}

p {
  line-height: var(--p--lineHeight);
  font-weight: var(--normalText-font-weight);
}

/* BUTTON */
button {
  padding: var(--button-top-bottom-padding) var(--button-left-right-padding);
  font-size: var(--button-font-size-value);
  font-weight: var(--button-font-weight);
  border-radius: 4px;
  border: 1px solid var(--button-border-color);
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 10px;
}

/*      --------------------        COMPONENTS        -----------------------------       */
.section-layout {
  max-width: 1088px;
  margin-left: auto;
  margin-right: auto;
  width: 91.666667%;
}

.section-properties {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: var(--section-mobile-padding);
}

@media screen and (min-width: 768px) {
  .section-properties {
    padding-top: var(--section-destkop-padding);
  }
}

.topScreen-line-decoration {
  width: 100%;
  height: 8px;
  position: fixed;
  top: 0;
  z-index: 150;
  background: linear-gradient(
    to right top,
    rgb(219, 255, 0),
    rgb(0, 232, 135),
    rgb(0, 224, 243)
  );
}

/* THe goal of this class is to remove some content when reading the portfolio on a small screen so that the small screen is not filled with long paragraphs */
@media screen and (max-width: 800px) {
  .sentences-removed-on-small-screen {
    display: none;
  }
}

/* COMPONENT: Text-and-icons */
.text-and-icons-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 6px;
  column-gap: 12px;
}

/* COMPONENT: text-and-icon */
.text-and-icon {
  display: inline-flex;
  align-items: baseline;
  gap: 6px;
  position: relative;
}

.text-and-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-image: var(--text-and-icons-hover-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text-and-icon:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.text-and-icon a {
  color: var(--text-and-icons-color);
  font-weight: var(--text-and-icons-weight);
}

/* COMPONENT: logo-image (only in component text-and-icon)*/
.text-and-icon .logo-image {
  width: 16px;
  align-self: center;
}

/* COMPONENT: logos-list-card */
.logos-list-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 8px;
}

/* COMPONENT: logo-card */
.logo-card {
  width: var(--logo-width-value);
  height: var(--logo-height-value);
}
/* ----------------------------     NAVIGATION BAR ---------------------------------    */
.navigation-bar-parent {
  background-color: var(--body-bg-color);
  top: 0;
  height: 92px;
  width: 100%;
  z-index: 90;
  position: fixed;
}

.navigation-bar {
  padding-top: var(--navigationBar-padding);
  padding-bottom: var(--navigationBar-padding);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  background-color: var(--body-bg-color);
}

/* MENU BAR */
.navigation-bar .menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation-bar .menu a {
  padding-top: var(--navigationBar-padding);
  padding-bottom: var(--navigationBar-padding);
}

.navigation-bar .menu a span {
  font-weight: var(--navigationlink-font-weight);
  color: var(--navigationlink-text-color);
  font-size: var(--navigationLink-font-size-value);
}

.navigation-bar .menu a span:hover {
  background-color: var(--navigation-link-background-hover-color);
}

/* GITHUB ICON */
.navigation-bar .fa-github {
  font-size: var(--navigationBar-logo-font-size-value);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 10px;
}

.navigation-bar .fa-github:hover {
  border: 1px solid var(--fa-github-navigation-bar-hover-color);
  color: var(--fa-github-navigation-bar-hover-color);
}

/* -----------------      CONTACT -------------------------    */
.contact {
  margin-bottom: var(--contact-margin-bottom);
}

/* -----------------   ACCORDION ----------------------  */
.accordion-item {
  cursor: pointer;
  gap: 0;
  transition: gap 0.2s;
}

.accordion-title {
  position: relative;
}

.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* The below is related to JavaScript */
.accordion-item .accordion-hidden-content {
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s;
}

.accordion-item.open {
  gap: 20px;
  transition: gap 0.2s;
}
.accordion-item.open .accordion-hidden-content {
  overflow: auto;
  max-height: 400px;
  transition: max-height 0.5s;
}

.accordion-title .accordion-title-icon {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 30px;
  align-self: flex-start;
}

/* -------------------    PROJECT DETAILS ------------------    */

.project-details h1 {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .project-details h1 {
    font-size: 36px;
  }
}

.project-details h2 {
  font-size: 24px;
}

.project-details h3 {
  font-size: 20px;
  color: #111827;
}

.project-details h4 {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .project-details h4 {
    font-size: 18px;
  }
}

.project-details h5 {
  font-size: 16px;
}

/* -------  Project-intro ------ */

.project-intro p,
.project-intro span {
  font-size: 14px;
  text-align: justify;
}

/* COMPONENT: Project name */

/* COMPONENT: project-introduction*/
.project-intro .project-introduction {
  margin-top: 8px;
}

.project-introduction a {
  color: #006bff;
  font-size: 14px;
}

/* COMPONENT: text-and-icons-list in project-intro*/
.project-intro .text-and-icons-list {
  margin-top: 8px;
}

.project-intro .text-and-icons-list .text-and-icon a {
  font-size: 14px;
}

/* Project-intro <hr> */
.project-intro hr {
  margin-top: 16px;
  border-top: 1px var(--border-color);
}

/* ------- Project-content ------ */
/* COMPONENT: project-content */
.project-content {
  display: flex;
  gap: 32px;
}

.project-content * {
  font-size: 16px;
}

/* COMPONENT:  project-content-main */
.project-content-main {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .project-content-main {
    max-width: calc(100% - 250px);
  }
}

/* COMPONENT: project-content-section */
.project-content-main .project-content-section {
  /* We added a transparent border in order to prevent margin-collapse */
  border: 1px solid transparent;
}

/* COMPONENT: project-section-title */
.project-content-section .project-section-title {
  margin-top: 25px;
  margin-bottom: 25px;
}

.project-section-title {
  padding-left: 16px;
  position: relative;
}

.project-section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px; /* Adjust the width of the border as needed */
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(0, 255, 148),
    rgb(0, 224, 243),
    rgb(0, 196, 253)
  );
}

.project-content-section .project-section-title.first-section-title {
  margin-top: 20px;
}

/* COMPONENT: project-section-details */
.project-content-section .project-section-details {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-section-details a {
  color: #006bff;
  font-size: 16px;
  font-weight: 400;
}

.project-section-details p {
  text-align: justify;
}

/* COMPONENT: project-video */
.project-video {
  width: 100%;
  height: 400px;
  border: 0;
}

/* COMPONENT: project-test-cases */
.project-test-cases {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.test-suite {
  display: flex;
  flex-direction: column;
}

.test-suite-table {
  width: 100%;
  max-height: 400px;
  overflow: auto;
}

.test-suite-table tr {
  box-shadow: 0 1px 4px 0 var(--border-color);
}

.test-suite-table th,
.test-suite-table td {
  padding: 10px;
}

.test-case-plan-column {
  width: 20%;
  min-width: 50px;
}

.test-case-action-column {
  width: 40%;
  min-width: 300px;
}

.test-case-expectedResults-column {
  width: 40%;
  min-width: 300px;
}

.test-case-title {
  font-weight: 700;
}

/* COMPONENT: project-test-report */
.project-test-report {
  width: 100%;
  max-height: 400px;
  overflow: auto;
  background-color: #000000;
}

.project-test-report p {
  font-family: monospace;
  color: #ffffff;
}

.status-pass {
  color: green;
}

.status-fail {
  color: red;
}

/* COMPONENT: project-bug-report */
.project-bug-report {
  padding-top: 20px;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bug {
  display: flex;
  flex-direction: column;
}

.bug-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bug-description ol {
  padding-left: 40px;
}

.bug img {
  max-width: 500px;
}

/* COMPONENT: project-specifications */

.project-specifications {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  max-height: 400px;
}

.project-specifications li {
  padding-left: 20px;
}

/* -----------  COMPONENT: Table of contents --------  */
.table-of-contents {
  display: none;
}

@media screen and (min-width: 1024px) {
  .table-of-contents {
    display: block;
    width: 250px;
    padding-top: 16px;
    padding-bottom: 16px;
    position: sticky;
    top: 150px;
  }
}

/* COMPONENT: table-of-contents-content */
.table-of-contents .table-of-contents-content {
  margin-top: 16px;
}

.table-of-contents-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* COMPONENT: table-of-contents-section-title */
.table-of-contents-section-title {
  color: var(--table-of-contents-link-color);
  font-weight: var(--table-of-contents-link-weight);
  font-size: 14px;
}

.table-of-contents-section-title:hover {
  color: var(--table-of-contents-link-hover-color);
}

.table-of-contents-section-title:focus {
  color: var(--table-of-contents-link-focus-color);
}

/* ------------       PERFORMANCE   ----------------   */
/* Scenario implementation */
.scenario-implementation {
  display: flex;
  flex-direction: column;
}

.scenario-implementation img {
  max-width: 1200px;
}

/* Canvas */
.chart-container {
  width: 100%;
  /* Enable horizontal scrollbar when needed */
  overflow-x: auto;
  /* Enable vertical scrollbar when needed */
  overflow-y: auto;
}

@media screen and (max-width: 800px) {
  .chart-container {
    /* Force horizontal scrollbar for smaller screens */
    overflow-x: scroll;
    /* Force vertical scrollbar for smaller screens */
    overflow-y: scroll;
  }
}

canvas {
  display: block;
  margin: auto;
  width: 800px;
  height: 400px;
}
